.after-footer .links a:hover,
.after-footer :focus, .connection .cont-btn:hover, .connection .cont-btn:focus, .masters .icon-list svg:hover, .masters .icon-list svg:focus, .prices .price-btn:hover, .prices .price-btn:focus, .about .about-button:hover, .about .about-button:focus, .sidebar-link, .next-button, .prev-button, .button-slider, .social-link, .header-record .record-button:hover, .header-record .record-button:focus, .header-record .record-button, .header-record .record-link, .nav-link, .button-menu.is-open .icon-menu, .button-menu .icon-close, .button-menu .icon-menu, .button-menu {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  background-color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.67;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 84px;
  padding-bottom: 84px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

body.modal-open {
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  background-color: transparent;
}

.header-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-container {
    max-width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .header-container {
    padding-right: 31px;
    padding-left: 31px;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 768px;
    padding-right: 39px;
    padding-left: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.header-logo {
  display: inline-block;
  fill: #ffffff;
}
@media screen and (max-width: 767px) {
  .header-logo {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    padding-top: 32px;
    fill: #303030;
  }
}

.button-menu {
  z-index: 15;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.button-menu.is-open {
  position: fixed;
}
.button-menu .icon-menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  fill: #ffffff;
}
.button-menu .icon-close {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}
.button-menu.is-open .icon-close {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.button-menu.is-open .icon-menu {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.over {
  padding-top: 35px;
}
@media screen and (max-width: 767px) {
  .over {
    position: fixed;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: 100%;
    z-index: 13;
    opacity: 0;
    background: rgba(25, 28, 38, 0.8);
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 125ms;
            transition-duration: 125ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .over {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 546px;
  }
}
@media screen and (min-width: 1280px) {
  .over {
    max-width: 1030px;
  }
}

@media screen and (max-width: 767px) {
  .button-menu.is-open + .over {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    min-width: 270px;
    width: 65vw;
    height: 100%;
    z-index: 14;
    padding-top: 106px;
    padding-left: 40px;
    background-color: #ffffff;
    -webkit-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.16), -2px 0px 4px rgba(0, 0, 0, 0.08), -4px 0px 8px rgba(0, 0, 0, 0.04);
            box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.16), -2px 0px 4px rgba(0, 0, 0, 0.08), -4px 0px 8px rgba(0, 0, 0, 0.04);
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .nav-item:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
}
.nav-link {
  padding-top: 12px;
  padding-bottom: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #303030;
  -webkit-transition-property: color;
  transition-property: color;
}
.nav-link:hover, .nav-link:focus {
  color: #ff6c00;
}
@media screen and (min-width: 768px) {
  .nav-link {
    padding-top: 52px;
    padding-bottom: 52px;
    font-size: 12px;
    line-height: 1.3;
    color: #ffffff;
  }
}

.header-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (max-width: 767px) {
  .header-record {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-record {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header-record {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header-record .record-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #303030;
  -webkit-transition-property: color;
  transition-property: color;
}
.header-record .record-link:hover, .header-record .record-link:focus {
  color: #ff6c00;
}
@media screen and (max-width: 767px) {
  .header-record .record-link {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .header-record .record-link {
    padding: 8px 0;
    font-size: 12px;
    line-height: 1.3;
    color: #ffffff;
  }
}
@media screen and (min-width: 1280px) {
  .header-record .record-link {
    margin-right: 40px;
  }
}
.header-record .record-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 194px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #ff6c00;
  background-color: transparent;
  color: #303030;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.header-record .record-button:hover, .header-record .record-button:focus {
  color: #ffffff;
  background-color: #ff6c00;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-record .record-button {
    width: 160px;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-record .record-button {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .social-list {
    display: none;
  }
}

.social-item {
  padding-left: 100px;
}
.social-item:nth-child(1) {
  position: relative;
}

.social-link {
  padding-top: 12px;
  padding-bottom: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition-property: color;
  transition-property: color;
}
.social-link:hover, .social-link:focus {
  color: #ff6c00;
}

.social-list .before::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 768px;
    height: 680px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
  }
}

.hero-container {
  position: relative;
  top: 0;
  height: 580px;
  margin-left: auto;
  margin-right: auto;
  background: #191c26;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .hero-container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    width: 609px;
    height: 680px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1125px;
  }
}

.slider-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-overlay:after {
  content: "";
  position: absolute;
  background: rgba(25, 28, 38, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.panel {
  position: absolute;
  width: 480px;
  height: 580px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .panel {
    width: 609px;
    height: 680px;
  }
}
@media screen and (min-width: 1280px) {
  .panel {
    width: 1125px;
  }
}

.panel img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.panel._active {
  z-index: 1;
}

.nav-dots {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  width: 40px;
}
@media screen and (max-width: 767px) {
  .nav-dots {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    right: 39px;
  }
}
@media screen and (min-width: 768px) {
  .nav-dots {
    right: 55px;
  }
}

.nav-dot {
  display: block;
  width: 8px;
  height: 2px;
  background: #9da4bd;
  cursor: pointer;
}

.nav-dot:not(:first-child) {
  margin-top: 12px;
}

.nav-dot.active {
  background: #ffffff;
  width: 18px;
}

.hero-info {
  position: absolute;
  top: 208px;
  left: 31px;
  width: 306px;
  height: 189px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero-info {
    width: 355px;
    height: 163px;
    top: 272px;
    left: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-info {
    width: 500px;
    height: 202px;
    left: 100px;
  }
}

.hero-info .hero-topic {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0px;
  color: rgba(157, 164, 189, 0.6);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  overflow: hidden;
  text-align: start;
}

.hero-topic:before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  width: 30px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}
@media screen and (min-width: 480px) {
  .hero-topic:before {
    width: 60px;
  }
}

.hero-info .hero-title {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 480px) {
  .hero-info .hero-title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-info .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-description {
  color: #9da4bd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1280px) {
  .hero-description {
    font-size: 18px;
    width: 480px;
  }
}

.button-slider {
  border: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  cursor: pointer;
  background-color: transparent;
  color: rgba(157, 164, 189, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
}
@media screen and (max-width: 767px) {
  .button-slider {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .button-slider {
    display: block;
  }
}
.button-slider:hover, .button-slider:focus, .button-slider:active {
  color: #ffffff;
  outline: none;
}

.prev-button {
  text-align: start;
  position: absolute;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 3;
  -webkit-transition-property: color;
  transition-property: color;
}
@media screen and (min-width: 768px) {
  .prev-button {
    right: 119px;
    bottom: 27px;
  }
}
@media screen and (min-width: 1280px) {
  .prev-button {
    right: 141px;
  }
}
.prev-button:hover:after, .prev-button:focus:after {
  background-color: #ffffff;
}

.next-button {
  text-align: end;
  position: absolute;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 3;
  -webkit-transition-property: color;
  transition-property: color;
}
@media screen and (min-width: 768px) {
  .next-button {
    right: 33px;
    bottom: 27px;
  }
}
@media screen and (min-width: 1280px) {
  .next-button {
    right: 55px;
  }
}
.next-button:hover:after, .next-button:focus:after {
  background-color: #ffffff;
}

.prev-button:after,
.next-button:after {
  content: "";
  width: 60px;
  height: 1px;
  display: block;
  cursor: pointer;
  bottom: 0;
  margin-top: 8px;
  background-color: rgba(157, 164, 189, 0.6);
  background-size: auto;
}

.sidebar {
  background-color: #ffffff;
  position: relative;
}
@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: block;
    width: 159px;
    height: 680px;
  }
}
@media screen and (min-width: 1280px) {
  .sidebar {
    width: 155px;
  }
}

.sidebar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
@media screen and (min-width: 768px) {
  .sidebar-block {
    left: 76px;
    bottom: 27px;
  }
}
@media screen and (min-width: 1280px) {
  .sidebar-block {
    left: 82px;
  }
}

.sidebar-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition-property: color;
  transition-property: color;
}
.sidebar-link:hover, .sidebar-link:focus {
  color: #ff6c00;
}

.sidebar-line {
  margin-right: 40px;
}

.sidebar-line:before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .about-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: 64px;
  }
}
.about .about-item {
  overflow: hidden;
}
.about .about-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1280px) {
  .about .about-item:first-child {
    margin-right: 30px;
  }
  .about .about-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.about .about-item:hover .about__image, .about .about-item:focus .about__image {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  .about .about-image {
    min-width: 330px;
    height: 235px;
  }
}
@media screen and (min-width: 1280px) {
  .about .about-image {
    min-width: 270px;
    height: 445px;
  }
}
.about .content {
  min-width: 330px;
}
.about .content .content-title {
  color: #303030;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .about .content .content-title {
    padding-left: 80px;
  }
}
@media screen and (min-width: 768px) {
  .about .content .content-title {
    padding-left: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .about .content .content-title {
    padding-left: 80px;
  }
}
.about .content .content-title::before {
  background: url(/images/symbol-defs.svg#icon-Rectangle_5);
  content: " ";
  display: block;
  position: absolute;
  width: 60px;
  height: 1px;
  background: #303030;
  margin-right: 20px;
  top: 50%;
  left: 0;
}
.about .content h2 {
  color: #303030;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
@media screen and (max-width: 1279px) {
  .about .content h2 {
    font-size: 28px;
    line-height: 33px;
  }
}
.about .text-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .about .text-1 {
    font-size: 18px;
    line-height: 30px;
  }
}
.about .text-2 {
  color: #555555;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
.about .about-button {
  width: 160px;
  height: 40px;
  left: 689px;
  top: 1211px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 194px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  border-radius: 25px;
  border: 1px solid #ff6c00;
  background-color: transparent;
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
}
.about .about-button:hover, .about .about-button:focus {
  background-color: #ff6c00;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  cursor: pointer;
}

.prices {
  background-color: #111319;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 121px;
  background-image: url(/images/price_mobile.png);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .prices {
    background-size: cover;
    background-position: center;
    background-image: url(/images/price_tablet.png);
  }
}
@media screen and (min-width: 1280px) {
  .prices {
    background-image: url(/images/price_desktop.png);
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1280px) {
  .prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .prices .container {
    min-width: 768px;
  }
}
.prices .group-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  position: relative;
  margin-bottom: 20px;
}
@media screen and (max-width: 1279px) {
  .prices .group-title {
    padding-left: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .prices .group-title {
    padding-left: 80px;
  }
}
.prices .group-title::before {
  background: url(/images/symbol-defs.svg#icon-Rectangle_5);
  content: " ";
  display: block;
  position: absolute;
  width: 60px;
  height: 1px;
  top: 50%;
  left: 0;
  background: rgba(157, 164, 189, 0.6);
}
.prices .price-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 44px;
}
.prices .price-list {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (max-width: 767px) {
  .prices .price-list {
    font-size: 14px;
    line-height: 2.14;
  }
}
@media screen and (max-width: 1279px) {
  .prices .price-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.prices .price-item {
  padding: 30px 40px;
  width: 580px;
  height: 240px;
}
@media screen and (min-width: 1280px) {
  .prices .price-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) {
  .prices .price-item:last-child {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.prices .elem {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.prices .elem::after {
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  content: " ";
  top: 3px;
  margin-left: 6px;
  margin-right: 6px;
}
.prices .underline {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.prices .elem:not(:last-child) {
  margin-bottom: 20px;
}
.prices .price-btn {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 194px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 25px;
  border: 1px solid #ff6c00;
  background-color: transparent;
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
}
.prices .price-btn:hover, .prices .price-btn:focus {
  color: #ffffff;
  background-color: #ff6c00;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  cursor: pointer;
}

.benefits {
  background-color: #ffffff;
  color: #555555;
}
.benefits .container {
  margin-left: auto;
  margin-right: auto;
}
.benefits .subject {
  color: #303030;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .benefits .subject {
    padding-left: 80px;
  }
}
@media screen and (min-width: 768px) {
  .benefits .subject {
    padding-left: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .benefits .subject {
    padding-left: 80px;
  }
}
.benefits .subject::before {
  background: url(/images/symbol-defs.svg#icon-Rectangle_5);
  content: " ";
  display: block;
  position: absolute;
  width: 60px;
  height: 1px;
  background: #303030;
  margin-right: 20px;
  top: 50%;
  left: 0;
}
.benefits .benefits-title {
  color: #303030;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.benefits .benefits-text {
  color: #555555;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 1279px) {
  .benefits .benefits-text {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) {
  .benefits .container {
    max-width: 480px;
    padding-left: 31px;
    padding-right: 31px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .benefits .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 39px;
  }
  .benefits .text {
    margin-right: 228px;
  }
}
@media screen and (min-width: 1280px) {
  .benefits .wrap {
    margin-top: 9px;
  }
  .benefits .container {
    max-width: 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 125px;
  }
}

.benefits-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 130px;
}
.benefits-items .benefits-item {
  max-width: calc((100% - 30px) / 2);
  height: 133px;
  background-color: #f7f7f7;
  padding-top: 20px;
}
.benefits-items .benefits-item:nth-child(2n+1) {
  margin: 0 30px 30px 0;
}
.benefits-items .benefits-item:nth-child(2n) {
  margin-top: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .benefits-items {
    padding-left: 239px;
  }
  .benefits-items .item {
    width: 210px;
  }
}
@media screen and (min-width: 1280px) {
  .benefits-items {
    margin-right: 130px;
  }
  .benefits-items .item {
    width: 170px;
  }
}
.benefits-items .number {
  color: #303030;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits-items .number::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  vertical-align: top;
  color: #ff6c00;
}
.benefits-items .item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .benefits-items .item-text {
    padding-left: 44px;
    padding-right: 44px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-items .item-text:last-child {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.masters {
  background-color: #f7f7f7;
}
.masters .text {
  color: #303030;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 80px;
  position: relative;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .masters .text {
    padding-left: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .masters .text {
    padding-left: 80px;
  }
}
.masters .text::before {
  background: url(/images/symbol-defs.svg#icon-Rectangle_5);
  content: " ";
  display: block;
  position: absolute;
  width: 60px;
  height: 1px;
  background: #303030;
  margin-right: 20px;
  top: 50%;
  left: 0;
}
.masters .title {
  color: #303030;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
  text-align: start;
}
@media screen and (min-width: 1280px) {
  .masters .masters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
.masters .masters-list img {
  margin: 0 auto;
}
.masters .card-title {
  color: #303030;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 30px;
  margin-bottom: 8px;
}
.masters .card-text {
  color: #ff6c00;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}
.masters .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.masters .icon:not(:last-child) {
  margin-right: 10px;
}
@media screen and (max-width: 1279px) {
  .masters .icon:not(:last-child) {
    margin-bottom: 64px;
  }
}
.masters .icon-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  outline: none;
}
.masters .icon-list svg {
  fill: #303030;
}
.masters .icon-list svg:hover, .masters .icon-list svg:focus {
  fill: #ff6c00;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  cursor: pointer;
}

.portfolio .portfolio-title {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.91;
  letter-spacing: 0.1em;
  color: #303030;
  text-transform: uppercase;
  padding-left: 80px;
  position: relative;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .portfolio .portfolio-title {
    padding-left: 80px;
    line-height: 1.36;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio .portfolio-title {
    padding-left: 80px;
  }
}
.portfolio .portfolio-title::before {
  background: url(/images/symbol-defs.svg#icon-Rectangle_5);
  content: " ";
  display: block;
  position: absolute;
  width: 60px;
  height: 1px;
  background: #303030;
  margin-right: 20px;
  top: 50%;
  left: 0;
}
@media screen and (max-width: 767px) {
  .portfolio .portfolio-title::before {
    content: " ";
    display: block;
    position: absolute;
    width: 60px;
    height: 1px;
    background: #303030;
    margin-right: 20px;
    top: 25%;
    left: 0;
  }
}
.portfolio .portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.connection {
  background-color: #191c26;
}
@media screen and (min-width: 1280px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }
}
@media screen and (min-width: 1280px) {
  .connection .connection-item {
    width: 50%;
  }
}
.connection .connection-item:nth-child(2) {
  background-image: url(/images/Bg.png);
  background-size: cover;
  background-position: center;
}
.connection .section-title {
  color: #ffffff;
  font-size: 42px;
  margin-bottom: 40px;
}
.connection .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.connection .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .connection .form-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.connection .contacts-form-label {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .connection .contacts-form-label {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.connection .contacts-form-label:first-child {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .connection .contacts-form-label:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.connection .contacts-form-input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: #ffffff;
}
.connection .contacts-form-input:focus,
.connection .contacts-form-input:hover {
  border-color: #ffffff;
}
.connection .contacts-form-input:not(:-moz-placeholder-shown) {
  color: #ffffff;
}
.connection .contacts-form-input:not(:-ms-input-placeholder) {
  color: #ffffff;
}
.connection .contacts-form-input:not(:placeholder-shown) {
  color: #ffffff;
}
.connection .form-input-label {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.connection .contacts-form-input:focus-within + .form-input-label {
  color: #ffffff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}
.connection .textarea {
  resize: none;
}
.connection .label-textarea {
  position: absolute;
  left: 0;
  top: -250%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}
.connection .contacts-form-input:focus-within + .label-textarea {
  color: #ffffff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
}
.connection .contacts-form-input:not(:-moz-placeholder-shown) + .label-textarea {
  color: #ffffff;
}
.connection .contacts-form-input:not(:-ms-input-placeholder) + .label-textarea {
  color: #ffffff;
}
.connection .contacts-form-input:not(:placeholder-shown) + .label-textarea {
  color: #ffffff;
}
.connection .cont-btn {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  padding: 12px 38px;
  margin-top: 44px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
}
@media screen and (max-width: 767px) {
  .connection .cont-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
.connection .cont-btn:hover, .connection .cont-btn:focus {
  color: #ffffff;
  background-color: #ff6c00;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  cursor: pointer;
}
@media screen and (max-width: 767px), (min-width: 1280px) {
  .connection .contact-us-list {
    margin-bottom: 40px;
  }
}
.connection .contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .connection .contacts-title {
    text-align: center;
  }
}
.connection .item {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
}
.connection .item:not(:last-child) {
  margin-bottom: 20px;
}
.connection .item a {
  color: #9da4bd;
}
.connection .icon {
  margin-right: 20px;
  vertical-align: middle;
}
.connection .grafic {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .connection .grafic {
    padding-left: 80px;
  }
}
@media screen and (max-width: 1279px) {
  .connection .grafic {
    padding-left: 80px;
  }
}
.connection .grafic::before {
  background: url(/images/symbol-defs.svg#icon-Rectangle_5);
  content: " ";
  display: block;
  position: absolute;
  width: 60px;
  height: 1px;
  top: 50%;
  left: 0;
  background: rgba(157, 164, 189, 0.6);
}
.connection .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #9da4bd;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .connection .connection-item .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .connection .information {
    float: right;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .connection .list {
    float: left;
  }
}

.after-footer {
  background: #f7f7f7;
  padding-top: 56px;
  padding-bottom: 56px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 55px;
  padding-right: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1280px) {
  .after-footer {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .after-footer {
    height: 138px;
  }
}
@media screen and (max-width: 767px) {
  .after-footer {
    padding-left: 31px;
    padding-right: 31px;
  }
}
.after-footer .copyright-icon {
  vertical-align: middle;
}
.after-footer .copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #9da4bd;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 767px) {
  .after-footer .copyright {
    padding-top: 79px;
  }
}
.after-footer .instagram-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #303030;
  letter-spacing: 0.2em;
  margin-right: 40px;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .after-footer .instagram-link {
    padding-left: 113px;
  }
}
@media screen and (max-width: 1279px) {
  .after-footer .instagram-link {
    padding-left: 89px;
  }
}
.after-footer .youtube-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #303030;
  letter-spacing: 0.2em;
}
.after-footer .instagram-link::before {
  background: url(/images/symbol-defs.svg#icon-Rectangle_5);
  content: " ";
  display: block;
  position: absolute;
  width: 60px;
  height: 1px;
  top: 50%;
  left: 0;
  background: #303030;
}
.after-footer .links a:hover,
.after-footer :focus {
  color: #ff6c00;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */